In [1]:
print("hello")

hello

In [2]:
print('my father mname is rehman')

my father mname is rehman

In [4]:
# variable
var = "name"
print(var)

name

In [5]:
1 + 3 * 4

13

In [6]:
(1 + 3) * 4

16

In [7]:
(2 * 4) * 4 + 2

34

In [8]:
(2*4)*(4+2)

48

In [9]:
2**2

4

In [10]:
(4//2)*6+(2+3)**2

37

In [11]:
3**3

27

In [13]:
# concatenating
add = 5+2
print(add)

7

In [17]:
string= "PAKISTAN ZINDABAD"
print(string)

PAKISTAN ZINDABAD

In [15]:
str1 = 'PAKISTAN'
str2 = 'ZINDABAD'
str3 = 'PAINDABAD'
print(str1+str2+str3)

PAKISTANZINDABADPAINDABAD

In [18]:
5 + "PAKISTAN"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
"5" + "PAKISTAN"

'5PAKISTAN'

In [21]:
5 * "PAKISTAN"

'PAKISTANPAKISTANPAKISTANPAKISTANPAKISTAN'

In [22]:
print("PAKISTAN \nZINDABAD")

PAKISTAN
ZINDABAD

In [25]:
print("PAKISTAN \tZINDABAD")

PAKISTAN 	ZINDABAD

In [26]:
"pakistan \nzindabad"

'pakistan \nzindabad'

In [28]:
print('''my name is abdur rehman.
and he is a friend        of mine''')

my name is abdur rehman.
and he is a friend        of mine

In [ ]:
user_input = input("Enter your name: ")
print(user_input)

In [ ]:
user_input1 = input("enter any number: ")
print(user_input1)

In [ ]:
user_input =input("Enter any number")

In [ ]:
user_name=input("Enter your user name ")
user_age=int(input("Enter your age "))
user_age=user_age+"4"
print("My name is "+user_name+" and my age is "+str(user_age))

In [3]:
int('5')+5

10

In [1]:
boolean = "True or False"
print(boolean)
boolean = "1 or 0"
print(boolean)
boolean = "yes or no"
print(boolean)

True or False
1 or 0
yes or no